.blog {
  height: 240vh;
  padding-top: 100px;
}

.blogs {
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

.react_image {
  max-width: 100%;
  margin: 10px;
  border: 2px solid #e7e7eb;
}

.decentral_image {
  max-width: 100%;
  margin: 10px;
  border: 2px solid #e7e7eb;
}

.rails_image {
  max-width: 100%;
  margin: 10px;
  border: 2px solid #e7e7eb;
}

@media (max-width: 768px) {
  .blog {
    height: 120vh;
  }
}
