.portfolio {
  height: 250vh;
  padding-top: 100px;
}

.projects {
  max-width: 1030px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  vertical-align: bottom;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.calculate_image {
  max-width: 300px;
  border: 2px solid #e7e7eb;
  margin: 10px;
}

.room_image {
  max-width: 300px;
  border: 2px solid #e7e7eb;
  margin: 10px;
}

.pets_image {
  height: 150px;
  max-width: 300px;
  border: 2px solid #e7e7eb;
  margin: 10px;
}

.portfolio_github-link {
  text-decoration: none;
  color: #888888;
  margin-right: 10px;
}

.portfolio_github-link:hover {
  color: #353333;
}

.portfolio_demo-link {
  text-decoration: none;
  color: #888888;
  margin-left: 10px;
}

.portfolio_demo-link:hover {
  color: #353333;
}

.portfolio_links {
  text-align: center;
  color: #888888;
}

.portfolio_projects-header {
  text-align: center;
  color: #888888;
  margin-bottom: 0;
  font-size: 22px;
}

.projects_info {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .portfolio {
    height: 140vh;
  }

  .projects {
    margin-top: 50px;
  }
}
