.home {
  background-color: #353635;
  height:100vh;
  position: relative;
  text-align: center;
}

.home_hello {
   font-style: Roboto;
   font-size: 36px;
   color: #FFFFFF;
   text-align: center;
   line-height: 2px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 50%;
   height: 25%;
   margin: auto;

}

.home_dev {
  font-style: Roboto;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  line-height: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 10%;
  margin: auto;
  padding-bottom: 20px;
}

.view_work {
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 40px;
  margin: auto;
  line-height: 10px;
  text-decoration: none;
  padding-top: 30px;
  color: #E31B6D;
}

.home_hello_2 {
  font-style: Roboto;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  /* line-height: 2px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
}

.home_dev_2 {
  font-style: Roboto;
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
  /* line-height: px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin-top: 10px;
  margin: auto;
  padding-bottom: 20px;
}

.view_work_2 {
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 1px;
  margin: auto;
  line-height: 10px;
  text-decoration: none;
  padding-top: 30px;
  color: #E31B6D;
}

.view_work:hover {
  color: #FFFFFF;
}

.view_work_2:hover {
  color: #FFFFFF;
}

.andy {
  color: #E31B6D;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: top 0.6s;
    background-color: #1B242F;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 40px;
}

.navbar_2 {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: top 0.6s;
    background-color: #1B242F;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 40px;
}

.navbar--hidden {
    top: -60px;
}

.home_button {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
}

.home_button:hover {
  color: #E31B6D;
}

.home_button_2 {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.home_button_2:hover {
  color: #E31B6D;
}

.about_button {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
}

.about_button:hover {
  color: #E31B6D;
}

.about_button_2 {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.about_button_2:hover {
  color: #E31B6D;
}

.portfolio_button {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
}

.portfolio_button:hover {
  color: #E31B6D;
}

.portfolio_button_2 {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.portfolio_button_2:hover {
  color: #E31B6D;
}

.blog_button {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
}

.blog_button:hover {
  color: #E31B6D;
}

.blog_button_2 {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.blog_button_2:hover {
  color: #E31B6D;
}

.contact_button {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
}

.contact_button:hover {
  color: #E31B6D;
}

.contact_button_2 {
  border: none;
  color: #FFFFFF;
  background-color: #1B242F;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.contact_button_2:hover {
  color: #E31B6D;
}

.about {
  height:130vh;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.about_content {
  text-align: center;
}

.about_header {
  color: #888888;
  text-align: center;
  padding-top: 120px;
  line-height: 1px;
  margin-bottom: 10px;
}

.about_header_2 {
  color: #888888;
  text-align: center;
  padding-top: 80px;
  line-height: 1px;
  margin-bottom: 10px;
}

.about_underline {
  color: #888888;
  text-align: center;
  font-weight: bold;
  line-height: 1px;
  font-size: 30px;
}

.about_copy_2 {
  color: #888888;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.about_copy_1 {
  color: #888888;
  font-size: 16px;
  max-width: 660px;
  margin-left: 400px;
  margin-top: 100px;
}

.about_skills_1 {
  color: #888888;
  font-size: 22px;
  text-align: center;
  max-width: 500px;
  margin-left: 560px;
  margin-top: 35px;
  border: 1px solid #888888;
  padding: 10px;
}

.about_skills_2 {
  color: #888888;
  border: 1px solid #888888;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 5px;
}

.andy_image_1 {
  max-height: 300px;
  max-width: auto;
  margin-left: 270px;
  margin-right: 50px;
  float: left;
}

.andy_image_2 {
  max-height: 300px;
  position: relative;
  text-align: center;
}

.andy_image_940 {
  max-height: 300px;
  max-width: auto;
  margin-left: 50px;
  margin-right: 50px;
  float: left;
}

/* Portfolio section */

.portfolio {
  position: relative;
  text-align: center;
}

.portfolio_header {
  color: #888888;
  text-align: center;
  padding-top: 120px;
  line-height: 1px;
}

.portfolio_header_2 {
  color: #888888;
  text-align: center;
  padding-top: 80px;
  line-height: 1px;
}

.portfolio_underline {
  color: #888888;
  text-align: center;
  font-weight: bold;
  line-height: 1px;
  font-size: 30px;
}

.projects {
  max-width: 1030px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  vertical-align: bottom;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.calculate_image {
  max-width: 300px;
  border: 2px solid #E7E7EB;
  margin: 10px;
}

.room_image {
  max-width: 300px;
  border: 2px solid #E7E7EB;
  margin: 10px;
}

.pets_image {
  height: 150px;
  max-width: 300px;
  border: 2px solid #E7E7EB;
  margin: 10px;
}

.blog_header {
  color: #888888;
  text-align: center;
  padding-top: 120px;
  line-height: 1px;
}

.blog_header_2 {
  color: #888888;
  text-align: center;
  padding-top: 80px;
  line-height: 1px;
}

.blog_underline {
  color: #888888;
  text-align: center;
  font-weight: bold;
  line-height: 1px;
  font-size: 30px;
}

.blogs {
  max-width: 1030px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  vertical-align: bottom;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.blogs_2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  vertical-align: bottom;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}


.blog_text {
  border: none;
  color: #888888;
  font-size: 18px;
  margin-right: 40px;
  text-decoration: none;
  text-align: center;
}

.react_image {
  max-width: 300px;
  margin: 10px;
  border: 2px solid #E7E7EB;
}

.decentral_image {
  margin: 10px;
  max-width: 300px;
  border: 2px solid #E7E7EB;

}

.rails_image {
  margin: 10px;
  max-width: 300px;
  border: 2px solid #E7E7EB;
}


.contact_header {
  color: #FFFFFF;
  text-align: center;
  padding-top: 120px;
  line-height: 1px;
}

.contact_header_2 {
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
  line-height: 1px;
}

.contact_underline {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  line-height: 1px;
  font-size: 30px;
}

.portfolio {
  height:100vh;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.blog {
  height:120vh;
  color: #FFFFFF;
  background-color: #FFFFFF;

}

.contact {
  height:100vh;
  color: #FFFFFF;
  background-color: #353635;
}

.contact_links {
text-align: center;
margin-top: 200px;
}

.contact_links_2 {
display: flex;
flex-direction: column;
/* flex-wrap: wrap; */
/* align-items: flex-end; */
/* vertical-align: bottom; */
/* justify-content: center; */
/* padding-left: 10px;
padding-right: 10px; */
}

.contact_github {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 40px;
  font-size: 26px;
}

.contact_github:hover {
  color: #E31B6D;
}

.contact_github_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 26px;
  text-align: center;
  margin-top: 100px;
}

.contact_github_2:hover {
  color: #E31B6D;
}

.contact_linkedin {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 26px;
}

.contact_linkedin:hover {
  color: #E31B6D;
}

.contact_linkedin_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
}

.contact_linkedin_2:hover {
  color: #E31B6D;
}

.contact_medium {
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 40px;
  font-size: 26px;
}

.contact_medium:hover {
  color: #E31B6D;
}

.contact_medium_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
}

.contact_medium_2:hover {
  color: #E31B6D;
}

.message-input {
  width: 302px;
  height: 302px;
}

.message-name {
  width: 302px;
  margin-top: 6px;
}

.message-email {
  width: 302px;
  margin-top: 8px;
}

.submit_button {
  margin-top: 8px;
}
